.weatherApp .weatherGrid {
  display: grid;
  grid-template-columns: 120px auto;
  grid-auto-rows: 100px;
  place-items: center left;
  padding: 2rem 0;
  gap: 1rem;
}

.weatherApp strong {
  font-size: 2rem;
}

.weatherApp img {
  width: 120px;
  height: 120px;
}

.weatherApp .temperature {
  margin-bottom: 0px;
}
.weatherApp .description {
  margin-top: 0px;
}