---
layout: layouts/base.njk
templateClass: tmpl-home
---
{{ content | safe }}

<div class="l-stack">
<a href="https://courses.gomakethings.com/academy/2020-10/" target="_blank">Vanilla JS Academy</a>
<a href="https://vanillajstoolkit.com/reference/" target="_blank">The Vanilla JS Toolkit</a>
</div>